* {
    box-sizing: border-box;
}

:root {
    --header-height: 3.2rem;
}

html {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    height: 100%;
}

h1 {
    margin: 0 0 1.5em;
}

#header {
    background: cornflowerblue;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
}

#main-container {
    position: relative;
    top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
}
