* {
    box-sizing: border-box;
}

:root {
    --body-bg: #fff;

    --header-bg: #0c4b33;
    --header-color: #fff;
    --header-height: 3.3rem;

    --sidebar-bg: #f2f2f2;

    --table-caption-bg: #126f4c;
    --table-caption-color: #fff;
    --table-stripe-bg: #f2f2f2;

    --icon-add: url(../img/icon-addlink.svg);
    --icon-change: url(../img/icon-changelink.svg);
    --icon-delete: url(../img/icon-deletelink.svg);
}

html {
    height: 100%;
}

body {
    background: var(--body-bg);
    font-family: system-ui, sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 1.75em;
    margin: 0 0 1em;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h3 {
    font-size: 1.25em;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

small {
    font-size: .8em;
}

.btn-unstyled {
    background: transparent;
    border: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
}

.caret {
    font-size: .8em;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    background: var(--body-bg);
    border-radius: .25em;
    box-shadow: 0 .15em .25em rgba(0, 0, 0, 0.25);
    left: -100%;
    list-style: none;
    padding: .5em 0;
    position: absolute;
    top: calc(100% - 0.25rem);
    visibility: hidden;
}

.dropdown-menu li {
    padding: .25em .5em;
}

.dropdown:focus-within .dropdown-menu {
    visibility: visible;
}

#header {
    align-items: center;
    background: var(--header-bg);
    box-shadow:
        0 3px 3px 0 rgba(0, 0, 0, .2),
        0 3px 3px -2px rgba(0, 0, 0, .15),
        0 1px 8px 0 rgba(0, 0, 0, .1);
    color: var(--header-color);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;
}

#branding {
    font-size: 1.25em;
}

#branding a {
    color: var(--header-color);
}

#main-container {
    min-height: calc(100vh - var(--header-height));
    position: relative;
    top: var(--header-height);
}

main {
    padding: 2em;
}

#content {
    column-gap: 1em;
    display: grid;
}

#content.with-sidebar {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "main sidebar";
}

#content-main {
    grid-area: main;
}

#content-related {
    grid-area: sidebar;
}

.striped tr:nth-child(even) {
    background: var(--table-stripe-bg);
}

th.fill-space {
    width: 100%;
}

.addlink {
    background: var(--icon-add) 0 1px no-repeat;
    padding-left: 1em;
}

.changelink {
    background: var(--icon-change) 0 1px no-repeat;
    padding-left: 1em;
}

.deletelink {
    background: var(--icon-delete) 0 1px no-repeat;
    padding-left: 1em;
}

.module {
    margin-bottom: 2em;
}

.module a {
    color: blue;
    text-decoration: none;
}

.module a:hover, .module a:focus , .module a:active {
    text-decoration: underline;
}

.module table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.module caption {
    background: var(--table-caption-bg);
    padding: .5em;
}

.module caption a {
    color: var(--table-caption-color);
}

.module th, .module td {
    padding: .5em;
}
