{% load i18n %}
<nav id="nav-sidebar" aria-label="{% translate 'Main navigation' %}">
  <input
    type="search"
    id="nav-filter"
    placeholder="{% translate 'Start typing to filter…' %}"
    aria-label="{% translate 'Filter navigation items' %}"
  >
  {% for app in available_apps %}
    <section>
      <header><a href="{{ app.app_url }}">{{ app.name }}</a></header>
      <ul>
        {% for model in app.models %}
          <li>
            <a href="{{ model.admin_url }}">{{ model.name }}</a>
            <a href="{{ model.add_url }}" aria-label="{% translate 'Add' %}">&#65291;</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</nav>
